body{

    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

    min-height:100vh;

    font-family:Arial,Helvetica,sans-serif;

}

.card{

    border:none;

    border-radius:20px;

}

h1{

    font-weight:bold;

}

.form-control,
.form-select{

    height:50px;

    border-radius:10px;

}

.btn{

    height:50px;

    font-size:18px;

    border-radius:10px;

}

.result-card{

    margin-top:30px;

    background:#198754;

    color:white;

    border-radius:15px;

    padding:25px;

    text-align:center;

    animation:fade 0.5s ease-in-out;

}

.result-card h1{

    font-size:45px;

    margin-top:10px;

}

footer{

    color:white;

    text-align:center;

    margin-top:40px;

    padding-bottom:20px;

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}